nav {
  background-color: rgb(252, 144, 162);
  border-bottom: 5px solid rgb(219, 104, 123);
}
nav h1 {
  color: white;
  font-family: "Pacifico", cursive;
}
.hero {
  padding-top: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.82)), url(../img/310457575_10217095100168833_5848403222769671290_n.jpg);
  background-size: cover;
  background-position: center;
}
.hero div img {
  width: 280px;
}
section {
  padding-top: 5rem;
  background-color: pink;
}
#about {
  overflow-x: hidden;
}
#about p {
  margin: 10px 50px;
}
.menu {
  background-color: #93c593;
}
.menu h1 {
  padding-bottom: 2rem;
}
#order {
  padding-bottom: 8rem;
}
.card img {
  padding: 10px;
  transition: 0.5s;
}
.card img:hover {
  padding: 5px;
}
.list {
  border: solid;
  padding: 0;
}
.number {
  border: solid white;
  background-color: rgb(0, 185, 0);
  border-radius: 30px;
}
#contact {
  border-top: 10px solid #191c1e;
}
#contact ul li {
  border-radius: 15px;
  padding: 10px;
  list-style: none;
  transition: 0.15s;
}
#contact ul li:hover {
  background-color: #44494e;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgb(55, 55, 55);
}

#contact img {
  width: 50px;
  margin: 10px;
}

#contact h1 {
  background-color: #23292e;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

.carousel-caption {
  backdrop-filter: blur(10px);
  text-shadow: 1px 1px rgb(0, 0, 0);
}
