nav {
  background-color: rgb(252, 144, 162);
  border-bottom: 5px solid rgb(219, 104, 123);
}
nav h1 {
  color: white;
  font-family: "Pacifico", cursive;
}
.hero {
  padding-top: 8rem;
  display: flex;
  height: 500px;
  background-image: url(../img/310457575_10217095100168833_5848403222769671290_n.jpg);
  background-size: cover;
  background-position: center;
}
section {
  padding: 5rem 2rem;
  background-color: pink;
}
.menu {
  padding: 5rem 0;
  border-top: 10px solid rgb(147, 197, 147);
  border-bottom: 10px solid rgb(114, 155, 114);
}
.menu h1 {
  padding-bottom: 2rem;
}
.card {
  padding: 10px;
}
.list {
  border: solid;
  padding: 0;
}
.number {
  border: solid white;
  background-color: rgb(0, 185, 0);
  border-radius: 30px;
}
#contact {
  border-top: 10px solid #191c1e;
}
#contact ul li {
  list-style: none;
}
#contact img {
  width: 50px;
  margin: 10px;
}
#contact h2 {
  padding: 1rem;
  background-color: #23292e;
  border-radius: 15px;
}
